@model IEnumerable<CarRentalManagementProject.Models.RentedCars19118070>
<div id=containerrentedcars19118070>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rented Cars</h1>

<p>
    <a class="btn btn-success text-white" asp-action="Create">Add <i class="bi bi-bookmark-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModified19118070)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified19118070)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                    <a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@item.RentalId"><i class="bi bi-pencil-square"></i>Edit</a> |
                    <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@item.RentalId"><i class="bi bi-eye"></i>Details</a> |
                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.RentalId"><i class="bi bi-trash"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
